:root {
	--color-primary: #252525;
	--color-secondry: #2F96E0;
}

* {
	box-sizing: border-box;
}

.body {
	overflow: hidden;
	background-color: var(--color-primary);
	height: max(100vh, 100%);
	width: 100%;
	color: #FFF;
}

.header,
.main,
.footer {
	display: block;
	pddiing: 0 15px;
	width: min(600px, 100%);
	text-align: center;
}

.header {
	margin: min(16.6666vw, 90px) auto 0; 
}

.main {
	margin: min(2.12vw, 45px) auto;
}

.footer {
	margin: 0 auto;
	font-size: clamp(8px, 2vw, 12px);
}

.ganken {
	list-style: none;
	margin: 30px auto;
	height: 220px;
	width: 220px;
	position: relative;
	background-color: #fff;
}

.ganken-item {
	position: absolute;
	top: 0;
	left: 0;
}

.button-flex {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.button-wrap {
	margin: 0 auto;
	padding: 5px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 10px solid var(--color-secondry);
}

.button_start {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-secondry);
	height: 120px;
	width: 120px;
	border-radius: 50%;
	cursor: pointer;
	color: var(--color-primary);
	font-weight: bold;
	transition: .2s;
	border-width: 0;
}

.button_start::after {
	content: "";
	position: absolute;
	top: -100px;
	left: -100px;
	display: block;
	width: 200px;
	height: 50px;
	background-color :#FFF;
	transform: rotate(-45deg);
	z-index:1;
}

.button_start:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.42);
	z-index:1;
	transition: .2s;
}

.button_start:hover::after {
	transition: .8s;
	transform: rotate(-45deg) translate(-50px, 300px)
}

.button_start img {
	width: 80%;
	height: 80%;
	object-fit: content;
	aspect-ratio: 1 / 1;
}

.ganken-text {
	margin: min(8.33333vw, 45px) auto 0;

}